@font-face {
    font-family: "Nastaliq";
    src: url(/fonts/NotoNastaliqUrdu-Regular.ttf);
}
@font-face {
    font-family: "Urdu1";
    src: url(/fonts/300\ Regular.ttf);
}
.urdu{
    font-family: "Nastaliq";
    text-align: center;
}

.poem_2{
    font-family: "Urdu1";
    text-align: center;
}