@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@font-face{
    font-family: "My Font";
    src: url(/fonts/RubikWetPaint-Regular.ttf);

}

.heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
 }

 .font{
    font-family: "My Font", cursive;
 }

 p{
    font-family: "My Font";
 }


